#root {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.bold {
  font-weight: bold;
}

.italics {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

p {
  font-size: 24px;
}

.carousel-root {
  width: 600px;
}

::-webkit-scrollbar {
  background: rgba(245, 155, 0, 1);
  border-radius: 100vw;
}

::-webkit-scrollbar-corner {
  background: rgba(245, 155, 0, 1);
}

::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.3);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,0.6);
}